<div class="container mt-3">
 <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 mx-auto text-center">

    <%= form_with model: @admin, url: new_admin_session_path, local: true do |f| %>
     <h4 class="mb-5">管理者ログイン</h4>
      <div class="field mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder:"Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class:'form-control', placeholder:"password"%>
      </div>

     <div class="actions mt-3">
      <%= f.submit "ログイン", class:'btn btn-primary btn-block' %>
     </div>
    <% end %>

   </div>
 </div>
</div>