<div class="container mt-3">
 <div class="row">
  <div class="pull-left"><h4>注文情報確認</h4></div>
  <table class="table table-hove">
    <thead class="table-warning bg-opacity-10">
     <tr>
       <th>商品名</th>
       <th>単価(税込)</th>
       <th>数量</th>
       <th>小計</th>
     </tr>
    </thead>
    <tboby>
      <% @cart_items.each do |cart_item| %>
       <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.amount %></td>
        <td><%=  cart_item.subtotal %></td>
       </tr>
      <% end %>
    </tbody>
  </table>
 </div>
</div>