<div class="container">
  <div class="row mx-auto">
   <div class="col">
     <%= @item.image %>
   </div>
   <div class="col">
     <div><%= @item.name %></div>
     <div><%= @item.introduction %></div>
     <div>￥<%= @item.add_tax_price.to_s(:dalimited) %></div>
   </div>
  </div>
</div>