// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title {
  margin-bottom: 20px;
  border-left: 2px solid #2D6F4C;
  padding: 10px;
}

.address-col {
  width: 60%;
}