// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-overlay{
  padding: 0;
  top: calc(50% - 0.5rem);
  text-align: center;
  font-weight: bold;
}

.main-text{
  line-height: 2.5;
  background-color: rgba(0, 0, 0, 0.1);
}
